<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Catégories</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Barre de navigation -->
    <div class="navbar">
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'livres' %}">Livres</a>
        <a href="{% url 'categories' %}">Catégories</a>
        <a href="{% url 'auteurs' %}">Auteurs</a>
        <!-- Ajoute d'autres liens si nécessaire -->
    </div>
    <div class="container">
        <h1>Liste des Catégories</h1>
        <ul>
            {% for categorie in categories %}
                <li>
                    <strong>{{ categorie.nom_categorie }}</strong><br>
                    <p>Description: {{ categorie.description }}</p>
                </li>
            {% empty %}
                <li>Aucune catégorie disponible.</li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        &copy; 2024 Bibliothèque Scolaire
    </footer>
</body>
</html>
